@font-face {
    font-family: 'Metropolis';
    src: url(fonts/METROPOLIS-BLACK.OTF);
}

@font-face {
    font-family: 'courierprime';
    src: url(fonts/courier-prime-sans.bold.ttf);
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('imgs/lasse_stilet.png'), url('imgs/lasse_stilet.png'), url('imgs/lasse_kigger_opad.png'); /* Add multiple images */
    background-repeat: no-repeat, no-repeat, no-repeat; /* Prevent the images from repeating */
    background-size: 20%, 20%, 30%; /* Set the size for each image */
    background-position: bottom left, bottom right, bottom center; /* Position each image */
    color: #e9e9e9;
    background-color: #fa3838;
    height: 100vh;
    width: 100vw; /* Use 100vw for full width */
    font-family: 'Metropolis', sans-serif;
    font-size: 6vw;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Align items at the top */
    padding-top: 15%; /* Add some padding at the top */
    text-align: center; /* Center the text */
    overflow: hidden; /* Prevent scrolling */   
}

.container {
    background-color: #ececec00;
    width: 100vw;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: #e9e9e9;
    font-size: 10vw;
    font-family: 'courierprime', sans-serif;
}

.buttons {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 32vh;
    left: 50%;
    transform: translateX(-50%);
}

.buttons button {
    width: 8vw;
    height: 5vh;
    font-family: 'Metropolis', sans-serif;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 6px;
    padding: 12px 24px;
    border: 0;
    color: #ffffff;
    background: #5c74ef;
    line-height: 1.15;
    font-size: 16px;
    will-change: box-shadow, transform;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #787878;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    margin: 0 5vw; /* Reduced margin to create less space between buttons */
}

.buttons button:hover {
    transition: all .1s ease;
    box-shadow: 0 0 0 0 #ffffff, 0 0 0 3px #afbeff;
    transform: translateY(-2px);
}